<mtapp:setting id="setting_suffix" label="<__trans phrase="Config Suffix">">
    <input type="text" name="setting_suffix" id="setting_suffix" value="<mt:var name="setting_suffix" escape="HTML">" />
    <div style="padding-top: 0.5em;"><__trans phrase="Config Description System"></div>
</mtapp:setting>
