<mtapp:setting id="option4" label="<__trans phrase="Config Option4">">
    <input type="text" name="default_option4" id="default_option4" value="<mt:var name="default_option4" escape="HTML">" />
    <div style="padding-top: 0.5em;"><__trans phrase="Config Description System"></div>
</mtapp:setting>
