<mtapp:setting id="option1" label="<__trans phrase="Config Option1">">
    <input type="text" name="default_option1" id="default_option1" value="<mt:var name="default_option1" escape="HTML">" />
    <div style="padding-top: 0.5em;"><__trans phrase="Config Description Blog"></div>
</mtapp:setting>
<mtapp:setting id="option2" label="<__trans phrase="Config Option2">">
    <input type="text" name="default_option2" id="default_option2" value="<mt:var name="default_option2" escape="HTML">" />
    <div style="padding-top: 0.5em;"><__trans phrase="Config Description Blog"></div>
</mtapp:setting>
<mtapp:setting id="option3" label="<__trans phrase="Config Option3">">
    <input type="text" name="default_option3" id="default_option3" value="<mt:var name="default_option3" escape="HTML">" />
    <div style="padding-top: 0.5em;"><__trans phrase="Config Description Blog"></div>
</mtapp:setting>
<mtapp:setting id="option4" label="<__trans phrase="Config Option4">">
    <input type="text" name="default_option4" id="default_option4" value="<mt:var name="default_option4" escape="HTML">" />
    <div style="padding-top: 0.5em;"><__trans phrase="Config Description Blog"></div>
</mtapp:setting>
<mtapp:setting id="option5" label="<__trans phrase="Config Option5">">
    <input type="text" name="default_option5" id="default_option5" value="<mt:var name="default_option5" escape="HTML">" />
    <div style="padding-top: 0.5em;"><__trans phrase="Config Description Blog"></div>
</mtapp:setting>
